html{
    font-size: 625%;
    width: 100%;
    height: 100%;
}
body{
    font-size: .15rem;
    width: 100%;
    background-color: #f0f0f0;
}
h2:hover,p:hover{
    cursor: default;
}
h2{
    margin: 0;
    font-size: .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p{
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

button{
    outline:none;
}

header{
    position: fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    height: .6rem;
    align-items: center;
    padding: 0 4%;
    background-color: #29bde0;
}
.btn-header{
    background-image: url("../img/index-select.png");
    width: 34px;
    height: 27px;
    border: none;
    background-color: #29bde0;

    transform: scale(.8,.8);
}
.main-index{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    padding: .1rem .15rem;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.history{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11%;
    min-height:.25rem;
    margin-bottom: .2rem;
    color: #8c8c8c;
    background-color: #ffffff;
    border: #6e6e6e 1px solid;

}
.h-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width:inherit;
    height: 10%;
    color: #fbb73e;
    border-bottom: #fbb73e 1px solid ;

}

.btn-cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15%;
    margin: .15rem 0;
    color: white;
    background-color: #69d1e9;
    border: none;
    font-size:.2rem ;
}
.btn-cont1:hover{
    text-decoration: none;
    background-color: #548fa7;
    color: white;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:inherit;
    min-height: 5rem;
    border:#6e6e6e 1px solid;

}
.content-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: inherit;
    justify-content: space-around;


}
.page{
    display: flex;
}
.page1{
    width: .08rem;
    height: .08rem;
    margin: 0 .03rem;
    background-color: #a7a7a7;
    border-radius: 50%;
}
.icon-right img{
    position: absolute;
    right: 2.5%; bottom: 48%;
    width: 3.2%;
    height: 6.5%;
    transform: scale(.8,.8);
}
/*动画效果*/
button:hover{
    background-color: #5897af;
}
header button:hover{
    background-color: #29bde0;
    transform: scale(.9,.9);
}
.page1:hover{
    background-color: #c7c7c7;
}
.icon-right img:hover{
    transform: scale(.9,.9);
}



/*-------------------------第二页*/
body{
    background-color: #29bde0;
}
.index2{
    justify-content: space-between;
}
.index2 img{
    transform: scale(.7);
}
.index2-title{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    min-height: 8%;
    width: 100%;
    padding: 0 3% 0 6%;
    background-color: #b9e9f5;
    margin-bottom: .4rem;
}

.main-index2{
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height:70%;
}
.index2-title-bottom img{
    width:15px;
    height: 13px;
}

.btn-play{
    width: .35rem;
    height: .35rem;
    border: none;
    background-color: #fbb435 ;
    border-radius:50%;
}
.btn-play img{
    transform: scale(.7);
}

.index2-title-bottom{
    position: absolute;
    top: 8%; left:8%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: white;
}
.block-group{
    position: absolute;
    top: 19%;
    width: 100%;
    height:4.5rem
    ;
    overflow-y: auto;
    overflow-x: hidden;
    padding:1% 0 .7rem 0;


}
.block-1{
    float: left;
    position: relative;
    width: 22%;
    padding-bottom: 22%;
    margin: 2% 5.66666% 6% 5.666666%;
    background-color:white;
    z-index:1;

}

.block-2{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height:66%;
    background-color: #f5c97b;
    margin: 0;
    z-index: 11;



}
.block-3{
    position: absolute;
    left: 2%;top: 68%;
    width: 96%;
    height:30%;
    background-color: #83b09a;
    color: white;
    margin: 0;
    z-index: 11;

}

.span-blk2{
    position: absolute;
    top: 50%;left: 50%;
    margin-top:-.14rem;
    margin-left: -.2rem;
    font-size:.2rem;

}
.span-blk3{
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -.105rem;
    margin-left: -.1167rem;

}

.blk-slc{
    position: absolute;
    top: 75%;left: 1.5%;
    width: 97%;
    height: 20%;
    display:flex;
    justify-content: space-between;
    transition: .5s;
    z-index:1;




}
.blk-slc1,.blk-slc2,.blk-slc3,.blk-slc4{
    width: 20%;
    min-width: 1px;
    min-height: 1px;
    height:100%;
    -webkit-background-size:100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border:none;


}
.blk-slc1 {
    background-image: url("../img/mian-dao.png");
}
.blk-slc2{
    background-image: url("../img/main-jing.png");
}
.blk-slc3{
    background-image: url("../img/main-zhunxin.png");
}
.blk-slc4{
    background-image: url("../img/mian-shizi.png");
}
.block-1:hover .blk-slc{
    display: flex;
}
.block-1:hover .blk-slc {
    transform: translateY(140%);
}

footer{
    position: fixed;
    bottom: 0; left:0; right: 0;
    display: flex;
    height: .5rem;
    align-items: center;
    justify-content: center;
    background-color: #29bde0;
    color: white;
    font-size: .25rem;
    z-index: 99;
}
.foot-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    border: none;
    background-color: #fbb435;
    color: white;
}
.foot-btn:hover{
    color: white;
    background-color: #be8828;
    text-decoration: none;
}


/*页面三*/

.i3-hdr{
   justify-content:space-between;
    border-bottom: #2bcaea 1px solid;
    z-index: 9;


}


.i3-hdr h1{
    font-size: .25rem;
    color: white;
    margin: 0;
    font-weight: lighter;
}
.btn-home{
    width: .5rem;
    height: .4rem;
    background-image: url("../img/end-home.png");
    background-size: 100%;
    border: none;
    background-color: #29bde0;
    transform: scale(.75,.75);
}
.btn-info{
    width: .5rem;
    height: .5rem;
    background-image: url("../img/end-warring.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border:2px solid;
    border-radius: 50%;
    background-color: #29bde0;
    transform: scale(.75,.75);
}
.blk-none{
    height: .6rem;
    width: 100%;
}
.i3-hdr-v{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 2.24rem;
    padding: .1rem .2rem;

}
.v-img{
    position: relative;
    background-image: url("../img/end-v.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    background-size: 100% 100%;

}
.v-img span{
    position: absolute;
    left: 50%;
    margin-left: -.5rem;
    top: 68%;
    font-size:.27rem ;
    font-weight: bold;
    color: white;
}
.i3-hdr-v p{
    line-height:.22rem;
    font-weight: bold;
    font-size: .18rem;
    color: #ffc900;
}
.i3-v-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding: .1rem .2rem;
}
.v-text-blk{
    display: flex;
    flex-wrap: wrap;
    min-height: .44rem;
}
.v-text-blk span{
    flex-basis: 33.333%;
}
.i3-main{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.i3-main-blkv{
    background-color: #29bde0;
}

.i3-mian-blkbt{
    display: flex;
    flex-direction: column;
}

.i3-main-blk{
    padding: .1rem .2rem;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-blk-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.time{
    color: #e4e4e4;
}
.main-blk-cont{
    display: flex;
    flex-direction: column;
    color: #b5b5b5;
}
.i3-footer{
    height: .6rem;
    background-color: unset;
    justify-content: space-around;
}

.i3-footer-btngroup{
    width:100%;
    height:100%;
    position: absolute;
    background-color: #2abde0;
    opacity: .4;
    z-index: 0;
}
.i3-ft-btn1{

    display: flex;
    flex-basis: 44%;
    border-radius: .1rem;
    justify-content: center;
    color: white;
    background-color: #f76e6e;
    border:none;
    z-index: 1;
}

.i3-ft-btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 44%;
    border-radius: .1rem;
    border:none;
    z-index: 1;
    background-color: #f8b333;
}
.i3-ft-btn1,.i3-ft-btn2{
    color: white;
    text-decoration: none;
}
.i3-ft-btn1:hover{
    background-color: #b85353;
    color: white;
    text-decoration: none;
}
.i3-ft-btn2:hover{
    background-color: #a88200;
    color: white;
    text-decoration: none;
}





